<!DOCTYPE html>

<!-- The doctype declares the type of coding the HTML page uses so that the browser knows how to render it. -->

<!-- The  html tag contains everything on the page: head and body-->
<html lang="en">

  <!-- The "head" container includes all the information the browser needs to display the page -->
  <head>
    <!-- the "meta" tag is used to provide, ah, meta-information about the page. 
         This one is another method to the browser what this content is and what character set we are using 
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- edit the title to include client content-->
    <title>Telling Touch</title>
    
    <!-- The "link" tag identifies your external CSS style sheet. Edit this link to use your particular file  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/template.css" />

    <script type="text/javascript" src="scripts/template.js"></script>
  </head>

  <!-- The "body" tag container includes the structure and content of the page -->
  <body>

    <div class="container"> <!-- contains everything on the page; used for centering and margins-->

    	<header> <!-- contains the constant stuff at the top of the page -->
        <div class="header_image">
          <img src="images/logo.jpg" alt="company logo" width="600" height="130"/>
        </div>
        <div class="validation_badge">

          <!-- replace this html with the html snippets that displays your validation badges of the client wants this. -->
          <p>
            <img src="images/html_validation_badge_mockup.png" 
                 alt="replace this with the HTML validator badge code snippet" 
                 height="31" 
                 width="88" 
            />
          </p>
          <!-- Notice that the indentation style of the second segment of code is all on one line. Which one is more readable for you? -->
          <p>
            <img src="images/css_validation_badge_mockup.png" alt="replace this with the CSS validator badge code snippet" height="31" width="88" />
          </p>
        </div>

      	<div class="page_heading">
          <h1>Telling Touch</h1>
          <p> Get in touch 
            with your true self.</p>
      	</div>
      </header>

    		
      <div class="main">
        <nav>
          <ul>
             <li> <a href="index.html"> Home </a> </li> 
            <li> <a href="about.html"> About </a> </li>
            <li> <a href="contact.html"> Contact Us </a> </li>
            <li> <img src="images/headshot.jpg" width="200px" height="200px"></li>
          </ul>
        </nav>
        <section class="articles">
        	<article>
          	<div class="article_heading">
          	 <h2>About Us</h2> 
          	</div>
          	<div class="article_content">
              <p>This is an article paragraph and other stuff.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra ultricies nibh, in interdum tellus ultrices id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse urna lorem, imperdiet a mattis sed, blandit id elit. Proin id ultrices odio. Vivamus ut nisl nulla. Proin consectetur urna vitae est fermentum in placerat elit condimentum. Morbi iaculis elit sit amet lacus convallis a semper risus elementum.</p>
          	</div>		
        	</article>

        </section>
      </div>

    	<!-- the footer area sits at the bottom of the page -->

    	<footer>
      <div class="contact_information">
          <a href="mailto:contact@email.com">contact@email.com</a>
        </div>
        <!-- edit the footer to include your name  -->
    	 Copyright &copy; 2013 <i>client name</i>
    	</footer>
  	</div>  <!-- .container -->

    <script type="text/javascript" >
        initializePage();
    </script>
  </body>
</html>